.body {
  color: #000000;
  color: #ffffff;
  color: #C0C0C0;
  color: #808080;
  color: #FF0000;
  color: #800000;
  color: #FFFF00;
  color: #808000;
  color: #00FF00;
  color: #008000;
  color: #00FFFF;
  color: #008080;
  color: #0000FF;
  color: #000080;
  color: #FF00FF;
  color: #800080;
  color: #FFFF80;
  color: #808040;
  color: #00FF80;
  color: #004040;
  color: #80FFFF;
  color: #0080FF;
  color: #004080;
  color: #8080FF;
  color: #8000FF;
  color: #FF0080;
  color: #804000;
  color: #FF8040;
}